.pagina-sucesso {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
}
