.registration-container {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}


button.botao-cancelar {
  background-color: #ff5555;
  color: #fff;
  padding: 10px 20px;
  margin: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.botao-salvar {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  margin: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.botao-cancelar:hover {
  background-color: #cc0000;
}

button.botao-salvar:hover {
  background-color: #6ec571;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
}

.botao__desabilitado {
  background: #7A7F87;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


